exports = module.exports = require("../../../../../../../../node_modules/css-loader/lib/css-base.js")();
exports.push([module.id, ".jui-u-bottom-spacing{margin-bottom:48px}.jui-u-top-spacing{margin-top:48px}.cc-m-video-gutter{max-width:100%;height:auto!important}.cc-m-video-gutter .cc-m-video-wrapper{height:0!important;width:100%;position:relative}.cc-m-video-gutter.cc-m-video-ratio-1 .cc-m-video-wrapper{padding-bottom:75%}.cc-m-video-gutter.cc-m-video-ratio-2 .cc-m-video-wrapper{padding-bottom:56.25%}.cc-m-video-gutter .cc-m-video-container{position:absolute;left:0;top:0;width:100%;height:100%}.cc-m-video-container{overflow:hidden}.cc-m-video-align-left{float:left}.cc-m-video-align-center{margin:0 auto}.cc-m-video-align-right{float:right}", ""]);


/*****************
 ** WEBPACK FOOTER
 ** ./~/css-loader?root=~&-minimize!./~/csso-loader!./~/autoprefixer-loader?{browsers: ['last 30 version', '> 1%', 'ie 8', 'ie 7']}!./~/sass-loader?indentedSyntax!./webserver/document_root/s/sass/web/module/functional/oldmoduleinterface/video.sass
 ** module id = 1190
 ** module chunks = 96 97 232
 **/